@use "../../1_misc/abstract/functions" as f;

/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/
body {
    font-family: var(--ff-vollkirn);
}

p {
    margin-bottom: .5em;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
}

h1 {
    font-size: 4.209rem;
}

h2 {
    font-size: 3.157rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5, .subtitle {
    font-size: 1.333rem;
}

small, .text_small {
    font-size: 0.75rem;
}

.text_medium {
    font-size: 2.369rem;
}