/*------------------------------------*\
  #COLORS
\*------------------------------------*/
:root {
  --cl-accent: #473BF0;
  /* Neutrals */
  --cl-000: #f8f9fa;
  --cl-200: #dee2e6;
  --cl-400: #adb5bd;
  --cl-600: #495057;
  --cl-800: #212529;
}

/*------------------------------------*\
  #RESET
\*------------------------------------*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

ul {
  padding-left: 2.5em;
  margin: 1em 0;
}

img, svg, video, frame, figure {
  display: block;
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
}

body {
  background-color: var(--cl-000);
}

/*------------------------------------*\
  #GRID-SYSTEM
\*------------------------------------*/
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-1 {
  grid-column: span 1/span 1;
}

.col-2 {
  grid-column: span 2/span 2;
}

.col-3 {
  grid-column: span 3/span 3;
}

.col-4 {
  grid-column: span 4/span 4;
}

.col-5 {
  grid-column: span 5/span 5;
}

.col-6 {
  grid-column: span 6/span 6;
}

.col-7 {
  grid-column: span 7/span 7;
}

.col-8 {
  grid-column: span 8/span 8;
}

.col-9 {
  grid-column: span 9/span 9;
}

.col-10 {
  grid-column: span 10/span 10;
}

.col-11 {
  grid-column: span 11/span 11;
}

.col-12 {
  grid-column: span 12/span 12;
}

/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/
body {
  font-family: "Inter", sans-serif;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 1em;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
}

h1 {
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small, .text_small {
  font-size: 0.833rem;
}

/*------------------------------------*\
  #HELPERS
\*------------------------------------*/
.border {
  border: 1px solid var(--cl-400);
}

.bg-200 {
  background-color: var(--cl-200);
}

.decoration {
  content: "";
  position: absolute;
  z-index: -1;
  width: 1.5em;
  height: 1.5em;
  bottom: 0;
  left: -8px;
  border-radius: 50%;
  background-color: var(--cl-accent);
  mix-blend-mode: multiply;
}

.text-center {
  text-align: center;
}

.center {
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  background: var(--cl-800);
  z-index: 1;
}

nav a {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}
nav a:hover, nav a:active {
  text-decoration: underline;
  text-underline-offset: 8px;
}

#menu {
  display: flex;
  gap: 1rem;
  list-style: none;
}
@media (max-width: 576px) {
  #menu {
    flex-direction: column;
  }
}
#menu > li {
  text-transform: uppercase;
  letter-spacing: 1px;
}
#menu > li > a {
  color: var(--cl-accent);
  font-weight: 700;
  text-decoration: none;
}
#menu > li > a:hover, #menu > li > a:active {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.sample-code {
  border: 1px solid #3B3B3B;
  border-radius: 8px;
  line-height: 1.5;
  padding: 1rem;
}

/*# sourceMappingURL=main.css.map */
