/*------------------------------------*\
  #FONTS
\*------------------------------------*/
:root {
  --ff-inter: "Inter", sans-serif;
  --ff-vollkirn: "Vollkorn", serif;
}

/*------------------------------------*\
  #COLORS
\*------------------------------------*/
:root {
  /* neutrals */
  --cl-800: #000000;
  --cl-600: #CCCCCC;
  --cl-400: #E8E8E8;
  --cl-200: #F4F4F4;
  --cl-000: #FFFFFF;
  /* semantic */
  --cl-red: #BB3825;
  --cl-blue: #2455C3;
}

/*------------------------------------*\
  #RESET
\*------------------------------------*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

ul {
  padding-left: 2.5em;
  margin: 1em 0;
}

img, svg, video, frame, figure {
  display: block;
}

html {
  color-scheme: only light;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

/*------------------------------------*\
  #HELPERS
\*------------------------------------*/
/* #H_TYPOGRAPHY */
.h_upper {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.h_bold {
  font-weight: bold;
}

/* #H_GRID_SYSTEM */
.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

.grid div[class^=col-] {
  background-color: rgba(255, 179, 193, 0.6);
  border-radius: 4px;
  font-family: var(--ff-inter);
}
.grid div[class^=col-] div[class^=col-] {
  background-color: rgba(255, 143, 163, 0.6);
}

body {
  display: grid;
  grid-auto-rows: 4rem auto auto;
}
@media (min-width: 992px) {
  body {
    grid-auto-rows: 4rem auto 6rem;
  }
}

header {
  background-color: var(--cl-800);
  width: 100%;
  display: flex;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
main .main-header {
  margin-bottom: 1rem;
}

.component {
  margin-bottom: 2rem;
}

footer {
  padding: 2rem;
  background-color: var(--cl-200);
  border-top: 1px solid var(--cl-400);
}

.container {
  width: 100%;
}

main, nav, .container {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  color: var(--cl-blue);
  text-decoration: none;
}
a:visited {
  color: var(--cl-blue);
}
a:hover, a:focus, a:active {
  text-decoration: underline;
  color: var(--cl-red);
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

nav {
  width: 100%;
  background-color: var(--cl-800);
  padding: 1rem;
}

nav, #menu {
  font-family: var(--ff-inter);
  font-weight: 700;
}

nav a {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--cl-000);
}

.button {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 4px;
}
.button:hover, .button:focus {
  text-decoration: none;
  background-color: var(--cl-red);
  filter: drop-shadow(0px 4px 4px var(--cl-600));
  outline: 0;
}
.button:active {
  filter: none;
}
.button--dark {
  background-color: var(--cl-800);
  color: var(--cl-000);
}
.button--dark:visited {
  color: var(--cl-000);
}

#menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
@media (min-width: 992px) {
  #menu {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
}
#menu li {
  margin-bottom: 1rem;
}

/*------------------------------------*\
  #GRID-SYSTEM
\*------------------------------------*/
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5rem;
}

.col-1 {
  grid-column: span 1/span 1;
  padding: 1rem;
}

.col-2 {
  grid-column: span 2/span 2;
  padding: 1rem;
}

.col-3 {
  grid-column: span 3/span 3;
  padding: 1rem;
}

.col-4 {
  grid-column: span 4/span 4;
  padding: 1rem;
}

.col-5 {
  grid-column: span 5/span 5;
  padding: 1rem;
}

.col-6 {
  grid-column: span 6/span 6;
  padding: 1rem;
}

.col-7 {
  grid-column: span 7/span 7;
  padding: 1rem;
}

.col-8 {
  grid-column: span 8/span 8;
  padding: 1rem;
}

.col-9 {
  grid-column: span 9/span 9;
  padding: 1rem;
}

.col-10 {
  grid-column: span 10/span 10;
  padding: 1rem;
}

.col-11 {
  grid-column: span 11/span 11;
  padding: 1rem;
}

.col-12 {
  grid-column: span 12/span 12;
  padding: 1rem;
}

/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/
body {
  font-family: var(--ff-vollkirn);
}

p {
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
}

h1 {
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5, .subtitle {
  font-size: 1.333rem;
}

small, .text_small {
  font-size: 0.75rem;
}

.text_medium {
  font-size: 2.369rem;
}

/*# sourceMappingURL=main.css.map */
