@use "../../abstract/variables";
@use "../../abstract/mixins";

/*------------------------------------*\
  #GRID-SYSTEM
\*------------------------------------*/
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: .5rem;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        grid-column: span 12 / span 12;
        @include mixins.respond-to(medium) {
            grid-column: span $i / span $i;
        }
        padding: 1rem;
    }
}
