@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

/*-------------------------------------*\
  #COLOR-SAMPLES
\*-------------------------------------*/

.color-table {
  max-width: f.em(600);
  display: flex;
  flex-direction: column;
  width: 100%;

  tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-gray-4);

    td {
      width: 100%;
      text-align: center;
      justify-self: stretch;
      padding: f.em(16) f.em(8);
    }
  }
}

.sample {
  display: flex;
  flex-direction: column;
  width: 100%;

  .color{
    align-self: center;
    display: grid;
    width: f.em(80);
    aspect-ratio: 1;
    border-radius: 4px;
    background-color: var(--color);
  }

  .code {
    color: var(--clr-gray-1);
  }
}