@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

/*-------------------------------------*\
  #COLOR-SAMPLES
\*-------------------------------------*/

.color {
  display: flex;
  flex-direction: column;
  background-color: var(--grayscale-200);
  border: 1px solid var(--grayscale-100);

  &__sample {
    --color: #fff;
    display: grid;
    width: 100%;
    aspect-ratio: 2;
    background-color: var(--color);
  }

  &__details {
    display: flex;
    flex-direction: column;
    padding: f.em(4);
  }
}