@use "../../../misc/abstract/mixins" as m;
@use "../../../misc/abstract/functions" as f;
/*------------------------------------*\
  #MY-PAGE-LAYOUT
\*------------------------------------*/
body {
  background-color: #f1f1f1;
}

header, aside, main {
  padding: 1rem;
}

.my-page-grid {
  display: grid;
  grid-template-areas: "h" "m" "a";
  grid-template-columns: auto;
  grid-template-rows: auto;
}

header {
  grid-area: h;
}

aside {
  grid-area: a;
  justify-self: center;
  text-align: center;
}

main {
  grid-area: m;
}

@include m.respond-to(medium) {
  .my-page-grid {
    display: grid;
    grid-template-areas: "a h" "a m";
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 10vh auto;
  }

  header {
    grid-area: h;
  }

  aside {
    grid-area: a;
    justify-self: left;
    text-align: left;
  }

  main {
    grid-area: m;
  }
}