@use "../../../misc/abstract/mixins";
/*------------------------------------*\
  #MY-PAGE-MENU
\*------------------------------------*/
.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  i {
    color: var(--cl-800);
  }
}