@use "../../../1_misc/abstract/mixins";

nav {
    width: 100%;
    background-color: var(--cl-800);
    padding: 1rem;
}

nav, #menu {
    font-family: var(--ff-inter);
    font-weight: 700;
}

nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--cl-000);
}

#menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    @include mixins.respond-to(medium) {
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    li {
        margin-bottom: 1rem;
    }
}


// TODO: Move Button to the right file later