@use "../abstracts";

/*-------------------------------------*\
  #LINK
\*-------------------------------------*/
a {
  color: var(--clr-blue);
  text-decoration: none;

  &:active {
    color: var(--clr-red);
    text-decoration: underline;
  }

  &:visited {
    color: var(--clr-purple);
  }
}

@include abstracts.pointing-device('hover', 'hover') {
  a:hover {
    color: var(--clr-red);
    text-decoration: underline;
  }
  a:active {
    text-decoration: none;
  }
}