/*------------------------------------*\
  #COLORS
\*------------------------------------*/
:root {
  /* neutrals */
  --cl-800: #000000;
  --cl-600: #CCCCCC;
  --cl-400: #E8E8E8;
  --cl-200: #F4F4F4;
  --cl-000: #FFFFFF;
  /* semantic */
  --cl-red: #BB3825;
  --cl-blue: #2455C3;
}