/*------------------------------------*\
  #COLORS
\*------------------------------------*/
:root {
  --cl-primary: #473BF0;
  --cl-secondary: #7d3bf0;
  /* Neutrals */
  --cl-000: #f8f9fa;
  --cl-200: #dee2e6;
  --cl-400: #adb5bd;
  --cl-600: #495057;
  --cl-800: #212529;
  /* System UI */
  --cl-caution: #E1244D;

}