@use "../abstract/variables";
@use "../abstract/mixins";

/*------------------------------------*\
  #GRID-SYSTEM
\*------------------------------------*/
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: .5rem;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    grid-column: span $i / span $i;
    padding: .5rem;
  }
}
