@use "../abstract/mixins";

/*------------------------------------*\
  #HELPERS
\*------------------------------------*/
/* #H_TYPOGRAPHY */
.h_upper {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.h_bold {
    font-weight: bold;
}

/* #H_GRID_SYSTEM */
.grid div[class^="col-"] {
    background-color: rgba(255, 179, 193, .6);
    border-radius: 4px;
    font-family: var(--ff-inter);

    & div[class^="col-"] {
        background-color: rgba(255, 143, 163, .6);
    }
}


//TODO: Move H_GRID_SYSTEM to another file
body {
    display: grid;
    grid-auto-rows: 4rem auto auto;

    @include mixins.respond-to(medium) {
        grid-auto-rows: 4rem auto 6rem;
    }
}

header {
    background-color: var(--cl-800);
    width: 100%;
    display: flex;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

    .main-header {
        margin-bottom: 1rem;
    }
}

.component {
    margin-bottom: 2rem;
}

footer {
    padding: 2rem;
    background-color: var(--cl-200);
    border-top: 1px solid var(--cl-400);
}

.container {
    width: 100%;
}

main, nav, .container {
    max-width: 1440px;
    margin: 0 auto;
}