@use "../abstract/functions" as f;

/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/
body {
  font-family: 'Inter', sans-serif;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  margin-bottom: .2em;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
}

h1 {
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3  {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5, .subtitle {
  font-size: 1.333rem;
}

small, .text_small {
  font-size: 0.75rem;
}

a {
  color: var(--cl-primary);
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
    text-underline-offset: 8px;
    color: var(--cl-caution);
  }

  &:visited {
    color: var(--cl-secondary);
  }
}


//h1 {
//  font-size: 2.488rem;
//}
//
//h2 {font-size: 2.074rem;}
//
//h3 {font-size: 1.728rem;}
//
//h4 {font-size: 1.44rem;}
//
//h5 {font-size: 1.2rem;}
//
//small, .text_small {font-size: 0.833rem;}