@use "../../misc/abstract/mixins" as m;

/*------------------------------------*\
  #MY-PAGE-HELPERS
\*------------------------------------*/
/* #H_TYPOGRAPHY */
.h_font_family--000 {
    font-family: var(--ff-000);
}

.h_font_transform--upper {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.h_font_weight--bold {
    font-weight: bold;
}

/* #H_LAYOUT */
.h_layout_bg--000 {
    background-color: rgb(255, 179, 193);
}

.h_layout_bg--200 {
    background-color: rgb(253, 163, 180);
}

.h_layout_border_radius {
    border-radius: 4px;
}

.h_layout_container {
    max-width: 90em;
    margin: 0 auto;
}

.h_layout_element--hidden {
    @include m.respond-to(medium) {
        display: none;
    }
}