@use "../abstracts/mixins" as m;

/*-------------------------------------*\
  #COLORS
\*-------------------------------------*/
:root {
  /* Dark Default */
  --clr-red: #ff453a;
  --clr-green: #30d158;
  --clr-blue: #0a84ff;
  --clr-orange: #ff9f0a;
  --clr-purple: #bf5af2;

  --clr-gray-0: #8e8e93;
  --clr-gray-1: #636366;
  --clr-gray-2: #48484a;
  --clr-gray-3: #3a3a3c;
  --clr-gray-4: #2c2c2e;
  --clr-gray-5: #1c1c1e;

  @include m.prefers('light') {
    --clr-red: #ff3b30;
    --clr-green: #34c759;
    --clr-blue: #007aff;
    --clr-orange: #ff9500;
    --clr-purple: #af52de;

    --clr-gray-0: #8e8e93;
    --clr-gray-1: #aeaeb2;
    --clr-gray-2: #c7c7cc;
    --clr-gray-3: #d1d1d6;
    --clr-gray-4: #e5e5ea;
    --clr-gray-5: #f2f2f7;
  }
}